<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="wallpaper">
    <!-- Heading/Search/Account/Cart -->
    <div class="heading">
        <p id="title"><a href="/home">Paw Prints</a></p>
        <form action="" method="get">
            <input type="search" name="" id="" placeholder="Search...">
        </form>
        <p><a href="/home">Home</a></p>
        <p><a href="/products">Products</a></p>
        <p><a href="/contact">Contact us</a></p>
        <p><a href="/cart">Cart</a></p>
        <p><a href="/login">Login</a></p>
        <p><a href="/logout">Log Out</a></p>
    </div>

    <div class="contact-container">
        <h2>Here is a Chuck Norris joke: </h2>
        <p><%= data.value %></p>
    </div>

    <!-- Footer/Copyright -->
    <div class="footer">
        <a href="/home">
            <p>Socials</p>
        </a>
        <a href="/admin">
            <p>Admin Pages</p>
        </a>
        <a href="/chuck">
            <p>Chuck Pages</p>
        </a>
        <p id="copyright">Copyright @2024</p>
    </div>
</body>
</html>