<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap" rel="stylesheet">
</head>

<body class="wallpaper">
    <!-- Heading/Search/Account/Cart -->
    <div class="heading">
        <p id="title"><a href="/home">Paw Prints</a></p>
        <form action="" method="get">
            <input type="search" name="" id="" placeholder="Search...">
        </form>
        <p><a href="/home">Home</a></p>
        <p><a href="/products">Products</a></p>
        <p><a href="/contact">Contact us</a></p>
        <p><a href="/cart">Cart</a></p>
        <p><a href="/login">Login</a></p>
        <p><a href="/logout">Log Out</a></p>
    </div>

    <div class="body-container">
        <!-- Left Categories/Drilldowns -->
        <div class="drilldown">
            <!-- <p id="drilldown-title">Products</p> -->
            <a href="/products/all">
                <p>All</p>
            </a>
            <a href="/products/dog">
                <p>Dogs</p>
            </a>
            <a href="/products/cat">
                <p>Cats</p>
            </a>
            <a href="/products/bird">
                <p>Birds</p>
            </a>
            <a href="/products/reptile">
                <p>Reptiles</p>
            </a>
            <a href="/products/fish">
                <p>Fish</p>
            </a>
            <a href="/products/smallMammal">
                <p>Small mammals</p>
            </a>
        </div>

        <!-- Main body -->
        <div class="main-body">
            <div class="card">
                <img src="images/dog.png" alt="#">
                <p>
                    At Paw Prints, we are dedicated to fostering the well-being and happiness of pets and
                    their owners alike. As we look ahead, we envision continued growth and success built upon our core
                    values
                    of quality, compassion, and community engagement.<br><br>
                </p>
                <p>
                    Our commitment to providing exceptional products and services remains unwavering. We will continue
                    to curate a diverse selection of high-quality pet supplies, ensuring that every customer finds
                    exactly what they need to care for their beloved companions. By maintaining strong relationships
                    with reputable suppliers and staying abreast of industry trends, we will uphold our reputation as a
                    trusted source for pet essentials.<br><br>
                </p>
                <p>
                    In addition to our retail offerings, we recognize the importance of providing comprehensive support
                    and guidance to pet owners. Our knowledgeable and passionate staff members will continue to offer
                    personalized advice and assistance, creating a welcoming environment where customers feel valued and
                    empowered.<br><br>
                </p>
                <p>
                    Furthermore, community involvement is at the heart of our mission. We will actively seek
                    opportunities to give back to the communities we serve through partnerships with local animal
                    shelters, adoption events, and educational initiatives. By promoting responsible pet ownership and
                    animal welfare, we aim to make a positive impact beyond the walls of our stores.<br><br>

                </p>
                <p>
                    As we navigate the evolving landscape of retail and pet care, innovation will be key to our success.
                    We will embrace technological advancements to enhance the shopping experience for our customers,
                    whether through online platforms, convenient delivery options, or interactive in-store
                    features.<br><br>
                </p>
            </div>
        </div>
    </div>

    <!-- Footer/Copyright -->
    <div class="footer">
        <a href="/home">
            <p>Socials</p>
        </a>
        <a href="/admin">
            <p>Admin Pages</p>
        </a>
        <p id="copyright">Copyright @2024</p>
    </div>

</body>

</html>